/* Theme */
:root {
    --bg-color: #585758;
    --text-color: #ffffff;
    --link-color: #8ab4f8;
}

/* Base Styles */
body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* Pushes content to the bottom */
    padding: 20px;
    background-color: var(--accent-bg);
    color: var(--text-light);
    border-top: 1px solid var(--border);
    font-size: 0.8rem; /* Makes the text smaller */
    position: absolute; /* Fixes the footer to the bottom */
    bottom: 0;
    width: 100%;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.logo {
    align-items: center;
    max-width: 200px;
    margin-bottom: 20px;
}

.logo img {
    display: block;
}

.summary, .contact {
    text-align: center;
    margin: 10px 0;
}

.summary p {
    max-width:650px;
}

/* Responsive Design */
body {
    padding: 20px;
}

.logo {
    max-width: 80%;
    height: auto;
}

.summary h1 {
    font-size: 2em;
}

@media (min-width: 600px) {
    .summary h1 {
        font-size: 3em;
    }
}
